@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400..700&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body::-webkit-scrollbar {
    width: 6px; 
}

body::-webkit-scrollbar-track {
    background: #1a1a1a; 
}

body::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px; 
}

body::-webkit-scrollbar-thumb:hover {
    background: #666; 
}

body {
    padding: 8px;
    width: 260px;
    color: #e0e0e0;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #ff9999;
}

.section {
    margin-bottom: 12px;
}

.label-highlight {
    margin-right: 12px;
    font-size: 14px;
    color: #b3b3b3;
}

input {
    background-color: #292929;
    color: #e0e0e0;
    border: none;
    padding: 6px;
}

button {
    margin-right: 4px;
    padding: 6px 12px;
    background-color: #333;
    color: #fff;
    border: none;
}

button:hover {
    cursor: pointer;
    border: 1px solid #fff;
}

.buttons {
    display: flex;
    gap: 8px;
}

#btnHighlight {
    margin-right: 4px;
}

.annotation-list {
    list-style-type: none;
    padding: 0;
}

.annotation-list-item {
    margin-bottom: 12px;
}

.search-box {
    color: #e0e0e0;
    background-color: #292929;
    border: none;
    padding: 6px;
}

.annotation-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.annotation-header img {
    width: 18px;
    height: 18px;
    object-fit: cover;
    cursor: pointer;
}

#btnSearch {
    padding: 3px 6px;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    border: none;
}

#btnSearch:hover {
    background-color: #666;
}

.more-item {
    cursor: pointer;
}

.more-item:hover {
    text-decoration: underline;
}

@media (max-width: 260px) {
    body {
        padding: 4px;
    }

    h1 {
        font-size: 16px;
    }

    button {
        font-size: 14px;
        padding: 5px 10px;
    }

    input[type="color"] {
        height: 28px;
    }
}
