@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

body {
    padding: 12px;
    width: 300px;
    color: #f1f1f1;
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 22px;
    margin-bottom: 12px;
    color: #debebe;
}

.section {
    margin-bottom: 16px;
}

.label-highlight {
    margin-right: 16px;
    font-size: 16px;
    color: #d1d1d1;
}

input {
    background-color: #3a3a3a;
    color: #f1f1f1;
    border: none;
    padding: 8px;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

input:hover {
    background-color: #444;
    color: #fff;
}

button {
    margin-right: 40px; /* Increased from 6px */
    padding: 8px 16px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease, border 0.3s ease; /* Added transition for border */
    transition: border 0.3s ease, color 0.3s ease;
}

button:hover {
    cursor: pointer;
    background-color: #333;
    border: 1px solid #fff;
}

.buttons {
    display: flex;
    gap: 10px;
}

#btnHighlight {
    margin-right: 40px; /* Increased from 6px */
}

.annotation-list {
    list-style-type: none;
    padding: 0;
}

.annotation-list-item {
    margin-bottom: 16px;
}

.search-box {
    color: #f1f1f1;
    background-color: #3a3a3a;
    border: none;
    padding: 8px;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.search-box:hover {
    background-color: #444;
    color: #fff;
}

.annotation-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.annotation-header img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}

#btnSearch {
    padding: 4px 8px;
    border-radius: 6px;
    background-color: #444;
    color: #fff;
    border: none;
    margin-top: 10px;
    transition: background-color 0.3s ease, border 0.3s ease; /* Added transition for border */
}

#btnSearch:hover {
    background-color: #777;
}

.more-item {
    cursor: pointer;
}

.more-item:hover {
    text-decoration: underline;
}

@media (max-width: 300px) {
    body {
        padding: 6px;
    }

    h1 {
        font-size: 18px;
    }

    button {
        font-size: 12px;
        padding: 6px 12px;
    }

    input[type="color"] {
        height: 30px;
    }
}
